.shadow-1 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 0px 0px 25px #0f5724;
}
.shadow-2 {
    border: 1px solid;
    padding: 20px;
    box-shadow: 0px 0px 25px #8f43a4;
}

.sound {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background:transparent;
    align-items: flex-end;
    position: relative;
}
.wave {
    background: white;
    margin: 4px;
    width: 8px;
    bottom: 0;
    justify-content: flex-end;
    border-radius: 10px;
    animation: wave 1s ease-in-out both infinite;
}
@keyframes wave {
    0%, 100% {
        height: 3px;
        transform: translateY(0); /* Reset transform */
    }
    25%, 75% {
        height: 20px;
    }
    50% {
        height: 50px;
    }
}
.sound .wave:nth-child(1) {
    background: #c6a1d5;
    animation-delay: 0.8s;
}
.sound .wave:nth-child(2) {
    background: darkviolet;
    animation-delay: 0.3s;
}
.sound .wave:nth-child(3) {
    background: #c6a1d5;
    animation-delay: 1s;
}
.sound .wave:nth-child(4) {
    background: darkviolet;
    animation-delay: 0.6s;
}
.sound .wave:nth-child(5) {
    background: #c6a1d5;
    animation-delay: 0.7s;
}